<!-- <app-agre-producto *ngFor="let x of productos" [nombre]="x"></app-agre-producto> -->

<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3	class="mb-0">Ingresar Productos</h3>
                </div>
                <div class="card-body">
                <form>
                    <div class="form-group">
                        <label	for="nombre">Nombre</label>
                        <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre..." #nombre>
                    </div>
                     <div class="form-group">
                        <label	for="nombre">Categoria</label>
                        <input	type="text"	class="form-control"	id="Categoria"	placeholder="Ingresar Categoria..." #Categoria>
                    </div>
                     <div class="form-group">
                        <label	for="nombre">Precio</label>
                        <input	type="text"	class="form-control"	id="Precio"	placeholder="Ingresar Precio..." #Precio>
                    </div>
                        <div class="form-group">
                            <label	for="Imagen	Url">Descripcion</label>
                            <input	type="text"	class="form-control"	id="Descripcion"	placeholder="Ingresar Descripcion..." #Descripcion>
                     </div>
                        <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value, Categoria.value, Precio.value, Descripcion.value)">Guardar!</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <hr	class="mb-5">

    <div	class="row">
        <app-agre-producto *ngFor="let d of productos" [producto]="d"></app-agre-producto>
    </div>
</div>