<div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span><h4>{{producto.nombre}}</h4></span>
        </div>
         <div class="card-desc">
            <h3>{{producto.Categoria}}</h3>
            <h3>{{producto.Precio}}</h3>
            <h3>{{producto.Descripcion}}</h3>
            <p>Lorem ipsum	dolor sit amet consectetur,	adipisicing	elit. Laboriosam, voluptatum! Dolor	quo, perspiciatis
                voluptas totam</p>
                <a	href="#"	class="btn-card">Read</a>			
        </div>
    </div>